<section class="pageheading">
<h1 class="titlec">Contactez-moi</h1>

<form class="contact" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label style="color:rgb(5, 5, 5)">Nom, prénom</mat-label>
    <input matInput [formControl]="name" required >
    <mat-error *ngIf="name.invalid">Please enter your name</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label style="color:rgb(2, 2, 2)">Email</mat-label>
    <input matInput [formControl]="email" placeholder="email@example.com" required>
    <mat-error *ngIf="email.invalid">Please enter a valid email</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label style="color:rgb(7, 7, 7)">Message</mat-label>
    <textarea matInput [formControl]="message" maxlength="256" placeholder="Je suis intéressé par..." required></textarea>
    <mat-hint align="end"> {{message.value?.length || 0}}/256</mat-hint>
    <mat-error *ngIf="message.invalid">Please enter a message</mat-error>
  </mat-form-field>
  <button [disabled]="isLoading" class="submit" type="submit">Envoyer</button>
  <input [formControl]="honeypot" class="hidden" type="text" />
  <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
    <span>{{responseMessage}}</span>
  </div>
</form>

</section>
