<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      mode="over">
    <mat-nav-list>
      <mat-list-item [routerLink]="['']"><mat-icon style="padding-right:20px">home</mat-icon>Accueil</mat-list-item>

      <mat-list-item [routerLink]="['about']"><mat-icon style="padding-right:20px">perm_identity</mat-icon>À propos</mat-list-item>

      <mat-list-item [routerLink]="['portfolio']"><mat-icon style="padding-right:20px">work</mat-icon>Portfolio</mat-list-item>

      <mat-list-item [routerLink]="['api']"><mat-icon style="padding-right:20px">forum</mat-icon>Contact</mat-list-item>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="top: 0;
     position: sticky;
     z-index: 3;">
      <mat-toolbar color="primary" class="navbar-menu" style="box-shadow: inset 0px 0px 15px 4px rgb(29, 29, 29) ;">
        <button mat-icon-button style="color:rgb(0, 0, 0)" (click)="drawer.toggle()" aria-label="button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="logo" routerLink="/"><img src="assets/svg/logo.svg" alt="logo" style="height: 30px; margin-top: 10px;"></span>
        <!--<span routerLink="/" style="color: black;padding-left:10px; font-size: large;">Nadia Ouhssaine</span>-->
        <span class="fill-space" [style.margin-right]="(isBoth$ | async) ? '10%' : '32%'"   ></span>
      </mat-toolbar>
    </div>

    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>

