@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.banner {
  height:30em;
  background-size:cover ;
  width:auto;
  text-align: center;
  background-image: url(/assets/pc_banner.jpg)
}

.content-banner {
  background: #00000000;
  background: -webkit-linear-gradient(to right,    #000000af,#7a78789c);
  background: linear-gradient(to right,   #000000af,#7a78789c);
  height:30em;
  width:auto;
  opacity: 1;
}

.content-banner h1 span {
  position: relative;
  top: 160px;
  text-transform: uppercase;
  font-size: 60px;
  font-family: 'Philosopher';
  letter-spacing: .5rem;
  color: rgb(255, 255, 255);
  border:6px solid  #ffffff;
  border-radius: 10px;
  padding:10px;
}

.content-banner h2 {
  position: relative;
  top: 190px;
  font-size: 25px;
  font-family: 'Philosopher';
  letter-spacing: .5rem;
  color: #FFF;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  top:195px;
}

.fa-github,
.fa-linkedin-square,
.fa-google-plus-square,
.fa-twitter-square  {
  color: #ffffff;
}

.more-information{
  position: fixed;
  top:80px;
  right:40px;
  z-index: 7;
}

.mat-expansion-panel-header {
  background-color:  rgba(94, 94, 94, 0.836);
}

.content-more-info{
  font-size: 15px;
  margin-top : 25px;
  margin-bottom : 30px;
}

.button-resume{
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color:  #4a96d1;
  color:black;
}

.aboutme {
  background-color: #d3d3d3;
}

.aboutme p {
  margin: 0 20% 0 20%;
  text-align: justify;
  font-family: "Handlee";
  font-size: 20px;
  line-height: 40px;
}

.aboutme .underline {
  background: linear-gradient(to top, rgba(207, 36, 36, 0.226) /*rgba(0, 132, 255, 0.13)*/ 50%, transparent 50%);
  color: rgb(56, 52, 52);
  font-size: 20px;
}

.heading {
  text-align:center;
  padding-top:55px;
  padding-bottom:35px;
  color:  #000000;
  font-family: "Alex Brush";
  font-size: 50px;
}

.heading span {
  text-decoration:  none;
  background: linear-gradient(to top, black 0%, black 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  transition: background-size 0.7s;
}

.heading span:hover {
  background-size: 100% 100%;
}

@media(max-width :800px){

  .content-banner h1 span{
    font-size: 30px;
    border: inherit;
    border-radius: inherit;
    border-bottom:  4px solid white;
  }
  .content-banner h2{
    font-size: 18px;
  }

  .aboutme p{
    margin: 0 5% 0 5%;
    font-size: 16px;
  }
  .aboutme span{
    font-size: 40px ;
  }

  .aboutme .underline{
    font-size: 16px;
  }
}

.hobbies-bloc {
  margin-bottom: 100px;
}

.hobbies-icon {
  display : flex;
  flex-flow: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

figcaption {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

figure {
  text-align: center;
}

@media (max-width:900px) {

  .hobbies-icon {
    flex-wrap: wrap;
  }

  .hobbies-icon img {
    width:20%;
    height:20%;
  }
}

.resume {
  padding:0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.589);
}

.resume h5 {
  margin-bottom: 65px; text-align:center;font-family: 'Montserrat', sans serif;font-size: 30px;
}

.timeline {
  position: relative;
  margin: 0 auto;
  width: 90%;
}

.timeline ul li {
  margin-bottom: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.point {
  min-width: 20px;
  height: 20px;
  background-color: rgb(206, 206, 206);
  border-radius: 100%;
  z-index: 2;
  border: 3px #333333 solid;
  position: relative;
  right: 18px;
}

.timeline ul li .content {
  width: 50%;
  padding: 0 20px;
  position:relative;
  right: 18px;
}

.timeline ul li:nth-child(odd) .content {
  padding-left: 0;
}

.timeline ul li:nth-child(odd) .date {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .content {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .date {
  padding-left: 0;
}

.timeline ul li .date {
  width: 50%;
  padding: 0 20px;
  font-weight: normal;
  position: relative;
  right: 18px;
}

.timeline ul li .date h4 {
  background-color: #333333;
  width: 100px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
  color:white
}

.timeline ul li .content h3 {
  padding: 10px 20px;
  background-color:rgb(231, 181, 181);
  margin-bottom: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-transform: uppercase;
}

.timeline ul li .content p {
  padding: 10px 20px;
  background-color:rgba(173, 173, 173, 0.226);
  margin-top: 0;
  text-align: justify;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 10px 10px 10px rgb(88, 88, 88);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.timeline ul li:nth-child(even) {
  flex-direction: row-reverse;
}

.timeline ul li:nth-child(even) .date h4 {
  float: right
}

.timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  left: 50%;
  background-color: #333333;
}

@media (max-width: 650px) {

  .resume h5{
    margin-bottom: 65px; text-align:center;font-family: 'Montserrat', sans serif;font-size: 15px;
  }

  .point {
    min-width: 12px;
    height: 12px;
  }

  p {
      padding: 7px !important;
  }

  .timeline ul li .content p {
    font-size: 10px;
    text-align: center;
    padding: 5px 5px;
    line-height: 18px;
  }

  .timeline ul li .content h3 {
    padding: 5px 5px ;
    font-size: 10px;
    text-transform: none;
    line-height: 18px;
  }

  .timeline ul li .date h4 {
    padding: 5px 5px ;
    font-size: 10px;
    line-height: 18px;
  }
}
