<section class="banner">
  <div class="more-information">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span style="font-family: Handlee; font-size: 20px;"><b><i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp;En savoir plus ?</b></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-more-info">
          <h4><b>Date de naissance</b></h4>
          <h5> 25/05/1997</h5>
          <h4><b>Portable</b></h4>
          <h5>06.50.31.79.66</h5>
          <h4><b>E-mail</b> </h4>
          <h5>ouhssaine.nadia@gmail.com</h5>
          <h4><b>Adresse</b></h4>
          <h5>94380 Bonneuil-sur-Marne</h5>
          <h4><b>Site web</b></h4>
          <h5> www.xxx.com</h5>
        </div>
        <button class="button-resume" (click)="downloadFile()" mat-button>  <mat-icon>get_app</mat-icon>Télécharger mon CV</button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="content-banner">
      <h1><span>Nadia OUHSSAINE</span></h1>
      <h2>Data Scientist  &nbsp;&diams;&nbsp;  Data Analyst</h2>
      <div class="icon">
      <a class="icon-github" mat-icon-button href="https://github.com/NadiaOuhssaine/" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      <a class="icon-linkedin" mat-icon-button href="https://www.linkedin.com/in/nadia-ouhssaine-355793179/" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
      <a class="icon-google" mat-icon-button href="" target="_blank"><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></a>
      <a class="icon-twitter" mat-icon-button href="https://twitter.com/NadiaOuhssaine" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
      </div>
  </div>
</section>

<section class="aboutme">
  <h2 class = "heading"><span>À propos de moi</span></h2>
  <p style="text-align: center;font-family: Poppins;margin-bottom: 40px;font-size: 40px;">&#10078;
    <span class = "underline"> Depuis de nombreuses années déjà, mon intérêt pour les
      <b>mathématiques et l'informatique</b>
      ne cesse d'accroître. Mon chemin vers la Data Science s’est donc naturellement tracé.</span>&#10078;
  </p>
  <p>
    Après des études en mathématiques fondamentales, ma spécialisation dans le domaine de la <b>Data Science</b> m'a permis d'utiliser mes connaissances des mathématiques afin d'approfondir mes compétences au profit de cette science pleine de promesses.<br> Nous générons énormément de données qui ne sont pas exploitées, mon rôle est désormais de les <b>valoriser</b> afin d'apporter des <b>solutions positives</b> aux projets qui me sont confiés. <br> Aujourd'hui, mon domaine d'expertise me donne la chance de mettre en évidence ma <b>créativité</b> afin d'apporter des <b>solutions concrètes</b> aux demandes.<br>
  </p>
  <div class="hobbies-bloc">
    <h2 class = "heading"><span>Hobbies & Interêts</span></h2>
    <div class = "hobbies-icon">
      <figure>
        <img src="assets/svg/brain.svg" width = "70%" height="70%">
        <figcaption>Intelligence Artificielle</figcaption>
      </figure>
      <figure>
        <img src="assets/svg/developpement-web.svg" width = "70%" height="70%">
        <figcaption>Développement Web</figcaption>
      </figure>
      <figure>
        <img src="assets/svg/litterature-scientifique.svg" width = "70%" height="70%">
        <figcaption>Littérature Scientifique</figcaption>
      </figure>
      <figure>
        <img src="assets/svg/avion.svg" width = "70%" height="70%">
        <figcaption>Voyage</figcaption>
      </figure>
      <figure>
        <img src="assets/svg/clap.svg" width = "70%" height="70%">
        <figcaption>Cinéma</figcaption>
      </figure>
    </div>
  </div>
</section>

<section class="resume">
  <h2 class="heading"><span>Carrière</span></h2>
  <h5><b><span style ="border-radius:10px;padding: 10px 20px;background-color:rgb(181, 215, 231);">EXPERIENCE</span> ET <span style="padding: 10px 20px;
    background-color:rgb(231, 181, 181);border-radius:10px">FORMATION</span></b></h5>
  <div class="timeline">
    <ul>
      <li>
        <div class="content">
          <h3 style ="background-color:rgb(181, 215, 231);"><b>Data Scientist</b></h3>
          <p>
            <img src="/assets/Groupe_PSA.png" width="80px" height="50px" style="display: block; margin-left: auto;
            margin-right: auto; margin-top:10px"><br>
            <span style="color : rgb(25, 101, 189); "><b>Groupe PSA, CARRIERES-SOUS-POISSY 78955</b></span><br>
            <b>Maintenance prédictive sur des véhicules d’essais du groupe avec la mise en place d’un outil de détection d’anomalies sur des données issues de boitiers embarqués dans les véhicules</b>
          </p>
        </div>
        <div class="point"></div>
        <div class="date">
          <h4>Fev. 2020 <br> Août 2020</h4>
        </div>
      </li>
      <li>
        <div class="content">
          <h3><b>Master Mathématiques et applications spécialité Ingénierie Mathématique</b></h3>
          <p>
            <img src="/assets/Universite_Paris_Descartes.png" width="100px" height="40px" style="display: block; margin-left: auto;
            margin-right: auto; margin-top:10px"> <br>
            <span style="color:brown;"> <b>Université de Paris (ex. Paris Descartes), PARIS 75006</b> </span> <br>
            <b>Data science, Apprentissage, Machine Learning, Grande dimension, Big Data, Biostatistique </b><br>
          </p>
        </div>
        <div class="point"></div>
        <div class="date">
          <h4>Sep.2018 <br>Sep.2020</h4>
        </div>
      </li>
      <li>
        <div class="content">
          <h3><b>Licence Mathématiques et intéractions</b></h3>
          <p>
            <img src="/assets/UPEC.png" width="100px" height="40px" style="display: block; margin-left: auto;
            margin-right: auto; margin-top:10px"><br>
            <span style="color:brown;"><b>Université Paris Est Créteil, CRETEIL 94000 </b></span> <br>
            <b>Mathématiques pures et appliquées : analyse, algèbre, géométrie, probabilités, analyse numérique et statistiques <br>  Intéractions avec les disciplines voisines : informatique et physique </b>
          </p>
        </div>
        <div class="point"></div>
        <div class="date">
          <h4>Sep. 2015 <br> Mai 2018</h4>
        </div>
      </li>
      <li>
        <div class="content">
          <h3 style ="background-color:rgb(181, 215, 231);"><b>Tutorat des étudiants de Licence scientifique</b></h3>
          <p>
            <img src="/assets/UPEC.png" width="100px" height="40px" style="display: block; margin-left: auto;
            margin-right: auto; margin-top:10px"><br>
            <span style="color:rgb(25, 101, 189);"><b>Université Paris Est Créteil, CRETEIL 94000 </b></span> <br>
            <b>Accompagnement et soutien en mathématiques, informatique et physique</b>
          </p>
        </div>
        <div class="point"></div>
        <div class="date">
          <h4>Sep. 2018 <br> Mai 2018</h4>
        </div>
      </li>
      <li>
        <div class="content">
          <h3 style ="background-color:rgb(181, 215, 231);"><b>Cours particuliers de Mathématique et Physique-chimie</b></h3>
          <p>
            <span style="color:rgb(25, 101, 189);"><b>ILE-DE-FRANCE</b></span><br>
            <b>Accompagnement et soutien en mathématiques et physique-chimie, niveau collège et lycée</b>
          </p>
        </div>
        <div class="point"></div>
        <div class="date">
          <h4>Oct. 2015 <br> Août 2018</h4>
        </div>
      </li>
      <li>
        <div class="content">
          <h3><b>Baccalauréat général série Scientifique</b></h3>
          <p>
            <span style="color:brown;"><b>Lycée Gutenberg, CRETEIL 94000</b></span>
          </p>
        </div>
        <div class="point"></div>
        <div class="date">
          <h4>Mai 2015</h4>
        </div>
      </li>
    </ul>
  </div>
</section>
