
  <section class="banner">
    <div class="more-information">
      <div class="content-banner">
        <h1><span>Portfolio</span></h1>
        <div class="icon">
        <a class="icon-github" mat-icon-button href="https://www.google.com/" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        <a class="icon-linkedin" mat-icon-button href="https://www.google.com/" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
        <a class="icon-google" mat-icon-button href="https://www.google.com/" target="_blank"><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></a>
        <a class="icon-twitter" mat-icon-button href="https://www.google.com/" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
</section>


<section class="aboutme">

<section class="project 1">
  <div class=" overlay-image">
    <img class="image" src="assets/project1.png">
    <div class=" hover">
      <div class=" text_hover">
        Représentation et classification de visage
      </div>
      <a href="https://www.google.com/" target="_blank" class="view-button" *ngIf="!(isHandset$ | async)"  mat-raised-button>View </a>
      <a href="https://www.google.com/" target="_blank" class="code-button" *ngIf="!(isHandset$ | async)"  mat-raised-button>Code</a>
      <div class="text">
        Réalisé avec le langage Python, ce projet exploite les principales librairies de data science : <br>
        <li>NumPy, pour la manipulation des données</li>
        <li>Pandas, pour la gestion des dataframes</li>
        <li>Matplotlib, pour la visualisation graphique</li>
        <li>Scikit-learn, pour le machine-learning et les méthodes de dimensionnalité</li>
      </div>
    </div>
  </div>
</section>

<section class="project 2">
  <div class=" overlay-image">
    <img class="image" src="assets/project2.png">
    <div class=" hover">
      <div class=" text_hover">
        Analyse de données des restaurants dans le monde
      </div>
      <a href="https://www.google.com/" target="_blank" class="view-button" *ngIf="!(isHandset$ | async)"  mat-raised-button>View </a>
      <a href="https://www.google.com/" target="_blank" class="code-button" *ngIf="!(isHandset$ | async)"  mat-raised-button>Code</a>
      <div class="text">
        Réalisé avec le langage Python, ce projet exploite les principales librairies de data science : <br>
        <li>NumPy, pour la manipulation des données</li>
        <li>Pandas, pour la gestion des dataframes</li>
        <li>Matplotlib, pour la visualisation graphique</li>
        <li>Scikit-learn, pour le machine-learning et les méthodes de dimensionnalité</li>
      </div>
    </div>
  </div>
</section>

<section class="project 3">
  <div class=" overlay-image">
    <img class="image" src="assets/project3.png">
    <div class=" hover">
      <div class=" text_hover">
        Analyse de transaction d'horodateurs parisiens
      </div>
      <a href="https://www.google.com/" target="_blank" class="view-button" *ngIf="!(isHandset$ | async)"  mat-raised-button>View </a>
      <a href="https://www.google.com/" target="_blank" class="code-button" *ngIf="!(isHandset$ | async)"  mat-raised-button>Code</a>
      <div class="text">
        Réalisé avec le langage Python, ce projet exploite les principales librairies de data science et de cartographie: <br>
        <li>NumPy, pour la manipulation des données</li>
        <li>Pandas, pour la gestion des dataframes</li>
        <li>Matplotlib et Seaborn, pour la visualisation graphique</li>
        <li>Scikit-learn, pour le machine-learning et les méthodes de dimensionnalité</li>
        <li>Folium, pour la cartographie et coordonnées GPS</li>
        Les données du projet sont stockés sur une base de données MongoDB.
      </div>
    </div>
  </div>
</section>

<section class="project 4">
  <div class=" overlay-image">
    <img class="image" src="assets/project4.PNG">
    <div class=" hover">
      <div class=" text_hover">
        Analyse de données des accidents routiers en France sur l’année 2017
      </div>
      <a href="https://www.google.com/" target="_blank" class="view-button" *ngIf="!(isHandset$ | async)"  mat-raised-button>View </a>
      <a href="https://www.google.com/" target="_blank" class="code-button" *ngIf="!(isHandset$ | async)"  mat-raised-button>Code</a>
      <div class="text">
        Le projet est essentiellement centré sur l'utilisation de Tidyverse sur R. Tidyverse est un ensemble de package qui fournissent les outils utiles à l'importation des données, leur nettoyage et surtout leur exploration qui comprend donc la transformation des données, leur visualisation et leur modélisation statistique. <br>
        Pour ce projet, je me suis principalement concentrer sur les packages <b>tibble</b>, <b>ggplot</b> et <b>dplyr</b>.
      </div>
    </div>
  </div>
</section>

</section>

