<section class="landing-page">
  <div class="background-color">
    <img src='assets/brain_background.png'>
  </div>
  <div class="container-info">
    <div class="info-block">
      <div class="info-block-container">
        <h1><span><b>Welcome !</b></span></h1>
        <h2>Je suis </h2>
        <h1>Nadia Ouhssaine</h1>
        <h2>Software Developer</h2>
        <button class="download-button" *ngIf="!(isHandset$ | async)" (click)="downloadFile()" mat-raised-button> Télécharger mon CV <mat-icon class = "icon-download">get_app</mat-icon></button>
      </div>
    </div>
    <div class="menu-blocks">
      <div class="about-block menu-block"  [routerLink]="['about']">
        <div class="about-block-container">
          <h2 class="about menu-item"> À propos</h2>
        </div>
      </div>
      <div class="portfolio-block  menu-block"  [routerLink]="['portfolio']">
        <div class="portfolio-block-container">
          <h2 class="portfolio menu-item">Portfolio</h2>
        </div>
      </div>
      <div class="api-block  menu-block"   [routerLink]="['api']">
        <div class="api-block-container">
          <h2 class="api menu-item">Contact</h2>
        </div>
      </div>
    </div>
  </div>
</section>
