@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.landing-page {
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  z-index: 0;
  display: block;
  background: url("/assets/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.colour-overlay {
  background: linear-gradient(to right, #979797bb, #9b9bb4cc);
  height: 100%;
  position: fixed;
  width: 100%;
  opacity: 0.7;
}

.container-info {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.info-block {
  position: absolute;
  border: 1px solid  rgb(56, 56, 56);
  display: table;
  transition: all 0.5s;
  z-index: 1;
}

.info-block-container {
  display: table-cell;
  vertical-align: middle;
  padding-left: 200px;
  -ms-transform: rotate(34deg);
  -webkit-transform: rotate(34deg);
  transform: rotate(34deg);
}

.info-block-container h1 {
  font-size: 3vw;
  font-weight: 700;
  color: rgb(56, 56, 56);
  line-height: 1.1;
  margin-bottom: 10px;
}

.info-block-container h1 span {
  font-size: 6vw;
  font-weight: 300;
  font-family: "Alex Brush";
}

.info-block-container h2 {
  font-size: 3vw;
  font-family: "Amatic SC";
  color: rgb(56, 56, 56);
  text-transform: uppercase;
  padding:20px;
  margin-bottom: 10px;
}

.download-button{
  background-color: #3d8379;//#465c86;
  color:white;
}

.menu-blocks {
  transition: all 0.5s;
}

.menu-blocks h2 {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-block {
  cursor: pointer;
}

.about-block {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid  rgb(56, 56, 56);
  border-bottom: none;
  display: table;
  transition: all 0.5s;
  z-index: 99;
}

.about-block-container {
  display: table-cell;
  vertical-align: middle;
  padding: 100px 0 0 70px;
  -ms-transform: rotate(34deg);
  -webkit-transform: rotate(34deg);
  transform: rotate(34deg);
}

.portfolio-block {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid rgb(56, 56, 56);
  border-bottom: none;
  display: table;
  transition: all 0.5s;
  z-index: 1;
}

.portfolio-block-container {
  display: table-cell;
  padding: 100px 0 0 70px;
  vertical-align: middle;
  -ms-transform: rotate(34deg);
  -webkit-transform: rotate(34deg);
  transform: rotate(34deg);
}

.api-block{
  box-sizing: border-box;
  position: absolute;
  border: 1px solid rgb(56, 56, 56);
  display: table;
  transition: all 0.5s;
  z-index: 1;
}

.api-block-container {
  display: table-cell;
  padding: 100px 0 0 70px;
  vertical-align: middle;
  -ms-transform: rotate(34deg);
  -webkit-transform: rotate(34deg);
  transform: rotate(34deg);
}

/*Creates the 3rd hover effect for the menu tiles*/
.menu-block:hover {
  background: rgba(255, 255, 255, 0.404);
}
.about-block:hover {
  border: 15px solid #3d83798f;
}
.portfolio-block:hover {
  border: 15px solid  #3d83798f;
}
.api-block:hover {
  border: 15px solid  #3d83798f;
}

/*Set menu item numbers 1-3*/
h2.about.menu-item::before {
  content: "1";
}
h2.portfolio.menu-item::before {
  content: "2";
}
h2.api.menu-item::before {
  content: "3";
}

/*handles menu-item position before hover*/
h2.menu-item::before {
  position: absolute;
  top: -40px;
  left: -20px;
  font-size: 14px;
  transition: all 0.5s ease 0s;
}

/*moves menu-item position after hover*/
h2.menu-item::after {
  position: absolute;
  content: "";
  top: -10px;
  left: -20px;
  width: 70px;
  height: 2px;
  background: #3d8379;
  transition: all 0.5s ease 0s;
}

/*Menu-item line and initialization*/
h2.menu-item {
  position: relative;
  color: rgb(56, 56, 56);
  margin: 50px;
  font-size: 28px;
  font-weight: 600;
  transition: all 1s ease-out 0s;
}

/* Puts the Menu item number above the line and text before*/
.menu-block:hover h2.menu-item:before {
  top: -20px;
  left: -40px;
}

/* @media (max-width:1024px) {
  .name-block-container h1 {
      font-size: 40px;
      line-height: 1.1;
  }
} */

/* Max-width 960 if min width = 992 */
/* Max-width 720 if min width = 768 */
/* Max-width 540 if min width = 576 */



@media (min-width:1280px) {

  .info-block-container {
    padding-bottom: 200px;
  }

  .info-block {
    width: 700px;
    height: 700px;
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 60px;
    top: 100px;
  }

  .about-block {
    width: 400px;
    height: 260px;
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 605px;
    top: -80px;
  }

  .portfolio-block {
    width: 500px;
    height: 260px;
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 742px;
    top: 109px;
  }

  .api-block{
    width: 600px;
    height: 260px;
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 879px;
    top: 297px;
  }
}

@media (min-width:900px) and (max-width: 1279px) {

  .info-block {
    width: 500px;
    height: 500px;
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 40px;
    top: 135px;
  }

  .about-block {
    width: 300px;
    height: 215px;
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 410px;
    top: -40px;
  }

  .portfolio-block {
    width: 370px;
    height: 258px;
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 535px;
    top: 115px;
  }

  .api-block{
    width: 500px;
    height: 200px;
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    left: 600px;
    top: 332px;
  }

  .info-block-container {
    padding-left: 100px;
  }
}

@media (min-width:600px) and (max-width:900px) {

  .info-block {
    width: 100%;
    height: 40%;
    border: 1px solid rgb(56, 56, 56);
  }

  .info-block-container h1 {
    margin:0px;
    padding:0px;
  }

  .info-block-container h2 {
    margin:0px;
    padding:0px;
  }

  .about-block {
    width: 50%;
    height: 30%;
    top: 40%;
    border: 1px solid rgb(56, 56, 56);
  }

  .portfolio-block {
    width: 50%;
    height: 30%;
    top: 40%;
    left: 50%;
    border: 1px solid rgb(56, 56, 56);
  }

  .api-block{
    width: 100%;
    height: 30%;
    top:70%;
    border: 1px solid rgb(56, 56, 56);
  }

  .info-block-container{
    vertical-align: middle;
    transform: rotate(0deg);
    padding-left:15%;
  }

  .about-block-container{
    vertical-align: top;
    transform: rotate(0deg);
  }

  .portfolio-block-container{
    vertical-align: top;
    transform: rotate(0deg);
  }

  .api-block-container{
    vertical-align: top;
    transform: rotate(0deg);
  }
}

@media (min-width:300px) and (max-width:599px) {

  .info-block-container h1 {
    margin:0px;
    padding:0px;
  }

  .info-block-container h2 {
    margin:0px;
    padding:0px;
  }

  .info-block {
    width: 100%;
    height: 32.5%;
    border: 1px solid rgb(56, 56, 56);
  }

  .about-block {
    width: 100%;
    height: 22.5%;
    top: 32.5%;
    border: 1px solid rgb(56, 56, 56);
  }

  .portfolio-block {
    width: 100%;
    height: 22.5%;
    top: 55%;
    border: 1px solid rgb(56, 56, 56);
  }

  .api-block{
    width: 100%;
    height: 22.5%;
    top:77.5%;
    border: 1px solid rgb(56, 56, 56);
  }

  .info-block-container{
    vertical-align: middle;
    padding-left:10%;
    transform: rotate(0deg);
  }

  .about-block-container{
    vertical-align: middle;
    transform: rotate(0deg);
    padding: 0px;
  }

  .portfolio-block-container{
    vertical-align: middle;
    transform: rotate(0deg);
    padding: 0px;
  }

  .api-block-container{
    vertical-align: middle;
    transform: rotate(0deg);
    padding: 0px;
  }
}
